.top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 12px;
    height: 120px;
    width: 100%;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 8px 1px 2px 8px rgba(0, 0, 0, 0.08);
}

.logo {
    width: 60px;
    height: 60px;
}

.top>h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 1px;
    text-shadow: 1px 1px #D1D5DB;
}

.btm {
    width: 100%;
    max-width: 1024px;
    margin: 40px auto 20px auto;
    padding: 10px 0 10px 0;
}

.search {
    width: 70%;
    border-radius: 6px;
    border: 1px solid #acacac;
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    color: #111111;
    padding: 10px;
    margin-left: 20px;
}

.bar {
    height: 100%;
    width: 90%;
    display: flex;
    gap: 12px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.bar>button {
    border: none;
    width: 165px;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    font-family: 'Inter', serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #fff;
    background-color: black;
    padding: 10px;
    margin-right: 20px;
}

.ingredient-sec {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.ingredient-sec>h1 {
    margin-left: 40px;
}

.ing-list {
    width: 90%;
    font-family: 'Inter', serif;
    font-size: 20px;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    color: #475467;
}

.list-item {
    margin-left: 40px;
}

.generate-recipe {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F0EFEB;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: 0.4px solid #dadada;
    margin-bottom: 40px;
}

.generate-recipe-text{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.generate-recipe-text h1 {
    font-size: 20px;
    line-height: 24px;
    color: #141413;
}

.generate-recipe-text p {
    font-family: 'Inter' , serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6B7280;
}

.generate-recipe-btn{
    width: 115px;
    height: 38px;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 0px #0000000D;
    background-color: #D17557;
    font-family: 'inter',serif;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border: none;
}

.final-recipe{
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.op-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.suggested-recipe-container > p,li {
    color: #475467;
    font-size: 18px;
    font-family: 'inter',serif;
}

.suggested-recipe-container > strong,h3{
    font-size: 20px;
    margin-bottom: 0px;
    font-family: 'inter',serif;
}